@charset "UTF-8";
.top-bar .logo, .btn, .formbtn {
  display: inline-block; }

.container {
  margin-left: auto;
  margin-right: auto; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

.icon-rmb:before, .icon-user:before, .icon-calendar:before, .icon-map:before, .icon-right-normal:before, .icon-pictrue:before, .icon-close:before, .icon-left-normal:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 0. sassCore's style
 */
.top-bar .logo, .btn, .formbtn {
  display: inline-block; }

.container {
  margin-left: auto;
  margin-right: auto; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

.icon-rmb:before, .icon-user:before, .icon-calendar:before, .icon-map:before, .icon-right-normal:before, .icon-pictrue:before, .icon-close:before, .icon-left-normal:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-y: scroll;
  /* 0 */
  -webkit-overflow-scrolling: touch;
  /* 0 */
  font-size: 100px;
  /* 0 */ }

/**
 * 1. Remove default margin
 * 0. sassCore's style.
 */
body {
  margin: 0;
  /* 1 */
  font-size: 12px;
  font-size: 0.12rem;
  line-height: 1.5;
  /* 0 */
  color: #222;
  /* 0 */
  background-color: #fff;
  /* 0 */ }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 * 3. Correct `inline-block` display in IE 6/7.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 * 0. sassCore's style.
 */
a {
  background: transparent;
  /* 1 */
  /* 0 */
  text-decoration: none;
  color: #000; }
  a:active, a:hover {
    outline: 0;
    /* 2 */ }
  a:hover {
    color: #00a0ff;
    text-decoration: underline; }

i {
  font-style: normal; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improve image quality when scaled in IE 7.
 * 0. sassCore's style.
 */
img {
  border: 0;
  /* 1 */
  vertical-align: middle;
  /* 0 */ }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * 1. Contain overflow in all browsers.
 * 2. Improve readability of pre-formatted text in all browsers.
 */
pre {
  overflow: auto;
  /* 1 */
  white-space: pre;
  /* 2 */
  white-space: pre-wrap;
  /* 2 */
  word-wrap: break-word;
  /* 2 */ }

/**
 * 1. Address odd `em`-unit font size rendering in all browsers.
 * 2. Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  background: none;
  border: none;
  outline: none; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
  border: none;
  outline: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  border: none;
  background: none;
  outline: none; }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 0. sassCore's style
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: none;
  /* 0 */ }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
html,
button,
input,
select,
textarea {
  font-family: "PingFangSC-Light", "Microsoft Yahei"; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none outside none; }

h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
  font-family: "PingFangSC-Regular", "Microsoft Yahei"; }

h1 {
  font-size: 150px; }

h2 {
  font-size: 130px; }

h3 {
  font-size: 117px; }

h4 {
  font-size: 100px; }

h5, h6 {
  font-size: 85px;
  text-transform: uppercase; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #a2a2a2; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #a2a2a2; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #a2a2a2; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #a2a2a2; }

@media screen and (min-width: 641px) {
  html {
    font-size: 100px; } }
@media screen and (max-width: 640px) {
  html {
    font-size: 100px; } }
@media screen and (max-width: 608px) {
  html {
    font-size: 95px; } }
@media screen and (max-width: 576px) {
  html {
    font-size: 90px; } }
@media screen and (max-width: 544px) {
  html {
    font-size: 85px; } }
@media screen and (max-width: 512px) {
  html {
    font-size: 80px; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 75px; } }
@media screen and (max-width: 448px) {
  html {
    font-size: 70px; } }
@media screen and (max-width: 416px) {
  html {
    font-size: 65px; } }
@media screen and (max-width: 384px) {
  html {
    font-size: 60px; } }
@media screen and (max-width: 352px) {
  html {
    font-size: 55px; } }
@media screen and (max-width: 320px) {
  html {
    font-size: 50px; } }
@font-face {
  font-family: iconfont;
  font-weight: normal;
  font-style: normal;
  src: url("http://at.alicdn.com/t/font_1448378856_337002.eot");
  src: url("http://at.alicdn.com/t/font_1448378856_337002.eot?#iefix") format("eot"), url("http://at.alicdn.com/t/font_1448378856_337002.svg#iconfont") format("svg"), url("http://at.alicdn.com/t/font_1448378856_337002.woff") format("woff"), url("http://at.alicdn.com/t/font_1448378856_337002.ttf") format("truetype"); }
.icon-rmb, .icon-user, .icon-calendar, .icon-map, .icon-right-normal, .icon-pictrue, .icon-close, .icon-left-normal {
  display: inline-block;
  font-family: iconfont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-rmb:before {
  content: ""; }

.icon-user:before {
  content: ""; }

.top-bar {
  position: relative;
  z-index: 1000;
  background-color: #fff;
  height: 55.0px;
  height: 0.55rem;
  line-height: 55.0px;
  line-height: 0.55rem;
  border: 1px solid #f1f1f1;
  font-size: 17px;
  font-size: 0.17rem;
  padding-left: 40px;
  padding-left: 0.4rem;
  padding-right: 50px;
  padding-right: 0.5rem; }
  .top-bar .logo {
    width: 58.0px;
    width: 0.58rem;
    padding-right: 50px;
    padding-right: 0.5rem;
    vertical-align: middle; }
    .top-bar .logo a {
      display: block; }
    .top-bar .logo img {
      display: block;
      width: 100%; }
  .top-bar .build-obj {
    vertical-align: middle; }
  .top-bar .login {
    border-right: 1px solid #bcbcbc;
    margin-right: 20px;
    margin-right: 0.2rem;
    padding-right: 20px;
    padding-right: 0.2rem; }
  .top-bar .icon-user {
    position: absolute;
    display: block;
    background: url(../images/user.jpg) no-repeat center top;
    width: 20px;
    height: 30px;
    right: 50px;
    top: 50%;
    margin-top: -10px; }
    .top-bar .icon-user:before {
      display: none; }
    .top-bar .icon-user:hover {
      color: #222;
      text-decoration: none; }
    .top-bar .icon-user .exit {
      position: absolute;
      top: 35px;
      right: -13px;
      display: block;
      width: 95px;
      height: 28px;
      line-height: 28px;
      border: 1px solid #ececec;
      border-radius: 3px;
      background-color: #fff;
      text-align: center;
      display: none; }
      .top-bar .icon-user .exit i {
        position: absolute;
        top: -12px;
        right: 15px;
        display: block;
        width: 13px;
        height: 11px;
        background: url(../images/t_b.png) center top no-repeat;
        border-bottom: 1px solid #fff; }
  .top-bar .on .exit {
    display: block; }

@media screen and (max-width: 1023px) {
  .top-bar {
    height: 85px;
    height: 0.85rem;
    line-height: 85px;
    line-height: 0.85rem;
    font-size: 23px;
    font-size: 0.23rem;
    padding-left: 35px;
    padding-left: 0.35rem;
    padding-right: 40px;
    padding-right: 0.4rem;
    min-width: 0px;
    min-width: 0rem;
    background-color: #fafafa; }
    .top-bar .logo {
      width: 108px;
      width: 1.08rem; }
    .top-bar .icon-user {
      background: none;
      right: .3rem; }
      .top-bar .icon-user:before {
        display: block;
        font-size: .3rem; }
      .top-bar .icon-user .exit {
        display: none; }

  .build-obj {
    display: none; } }
body {
  min-width: 320px; }

.fl {
  float: left; }

.fr {
  float: right; }

img {
  max-width: 100%; }

.hide {
  display: none; }

::selection {
  background: rgba(0, 0, 0, 0.6);
  color: white; }

/* -------------------------------------------------
 * btn scss
 * -------------------------------------------------
*/
.btn, .formbtn {
  cursor: pointer;
  text-align: center;
  border: 0 none; }
  .btn:hover, .formbtn:hover {
    text-decoration: none; }

.btn {
  padding: 0 16px;
  font-size: 14px;
  line-height: 28px;
  color: #333;
  background-color: #e6e6e6; }
  .btn:hover {
    background-color: #d9d9d9;
    color: #333; }

.formbtn {
  padding: 0 16px;
  font-size: 14px;
  height: 28px;
  color: #333;
  background-color: #e6e6e6; }
  .formbtn:hover {
    background-color: #d9d9d9;
    color: #333; }

.btn-primary {
  color: #fff;
  background-color: #22c064; }
  .btn-primary:hover {
    background-color: #1eaa59;
    color: #fff; }

@font-face {
  font-family: iconfont;
  font-weight: normal;
  font-style: normal;
  src: url("http://at.alicdn.com/t/font_1448378856_337002.eot");
  src: url("http://at.alicdn.com/t/font_1448378856_337002.eot?#iefix") format("eot"), url("http://at.alicdn.com/t/font_1448378856_337002.svg#iconfont") format("svg"), url("http://at.alicdn.com/t/font_1448378856_337002.woff") format("woff"), url("http://at.alicdn.com/t/font_1448378856_337002.ttf") format("truetype"); }
.icon-rmb, .icon-user, .icon-calendar, .icon-map, .icon-right-normal, .icon-pictrue, .icon-close, .icon-left-normal {
  display: inline-block;
  font-family: iconfont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-rmb:before {
  content: ""; }

.icon-calendar:before {
  content: ""; }

.icon-map:before {
  content: ""; }

.icon-right-normal:before {
  content: ""; }

.icon-pictrue:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.icon-left-normal:before {
  content: ""; }

.container {
  max-width: 1024px; }

.top-notice {
  font-size: 24px;
  font-size: 0.24rem;
  line-height: 65px;
  line-height: 0.65rem;
  padding-left: 20px;
  padding-left: 0.2rem;
  padding-right: 20px;
  padding-right: 0.2rem;
  border-bottom: 1px solid #d8d8d8;
  color: #00a0ff; }
  .top-notice span {
    color: #686868; }
  .top-notice a {
    color: #00a0ff; }
  .top-notice .pm {
    margin-left: 10px;
    margin-left: 0.1rem; }

.form-wrap {
  line-height: 40px;
  line-height: 0.4rem;
  padding-left: 40px;
  padding-left: 0.4rem;
  padding-right: 40px;
  padding-right: 0.4rem;
  padding-bottom: 100px;
  padding-bottom: 1rem; }
  .form-wrap .input-title {
    border: 1px solid #eee;
    display: block;
    margin-top: 30px;
    margin-top: 0.3rem;
    margin-bottom: 20px;
    margin-bottom: 0.2rem;
    padding-left: 20px;
    padding-left: 0.2rem;
    padding-right: 20px;
    padding-right: 0.2rem; }
    .form-wrap .input-title input {
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      height: 65px;
      height: 0.65rem;
      font-size: 24px;
      font-size: 0.24rem; }
  .form-wrap .editor-box.pc {
    border: 1px solid #d8d8d8;
    min-height: 300px; }
  .form-wrap .tip-txt {
    font-size: 14.0px;
    font-size: 0.14rem;
    line-height: 35px;
    line-height: 0.35rem;
    margin-bottom: 20px;
    margin-bottom: 0.2rem;
    color: #a5a5a5;
    text-align: right;
    padding-right: 35px;
    padding-right: 0.35rem;
    font-size: 18px;
    font-size: 0.18rem; }
  .form-wrap .obj-intro {
    padding-left: 30px;
    padding-left: 0.3rem;
    padding-right: 30px;
    padding-right: 0.3rem; }
    .form-wrap .obj-intro .input-list {
      position: relative;
      display: block;
      font-size: 20px;
      font-size: 0.2rem;
      border-bottom: 1px solid #eee; }
      .form-wrap .obj-intro .input-list span {
        position: absolute;
        top: 50%;
        left: 0;
        display: inline-block;
        width: 170px;
        width: 1.7rem;
        line-height: 44px;
        line-height: 0.44rem;
        margin-top: -22px;
        margin-top: -0.22rem;
        text-align: center;
        border-right: 1px solid #eee; }
        .form-wrap .obj-intro .input-list span:before {
          margin-right: 40px;
          margin-right: 0.4rem; }
      .form-wrap .obj-intro .input-list i {
        position: absolute;
        top: 0;
        right: 40px;
        right: 0.4rem;
        line-height: 90px;
        line-height: 0.9rem; }
      .form-wrap .obj-intro .input-list input {
        height: 90px;
        height: 0.9rem;
        width: 100%;
        font-size: 25px;
        font-size: 0.25rem;
        padding-left: 180px;
        padding-left: 1.8rem;
        padding-right: 65px;
        padding-right: 0.65rem;
        box-sizing: border-box;
        text-align: center; }
  .form-wrap .xy-check {
    display: block;
    text-align: center;
    margin-top: 70px;
    margin-top: 0.7rem;
    margin-bottom: 40px;
    margin-bottom: 0.4rem;
    font-size: 24px;
    font-size: 0.24rem; }
    .form-wrap .xy-check input {
      margin-right: 30px;
      margin-right: 0.3rem;
      vertical-align: middle;
      width: 22px;
      width: 0.22rem;
      height: 22px;
      height: 0.22rem; }
      .form-wrap .xy-check input:checked {
        -webkit-appearance: none;
        appearance: none;
        background: url(../images/checkbox.jpg) no-repeat center;
        background-size: contain; }
  .form-wrap .btn {
    display: block;
    margin: 0 auto;
    padding: 0;
    line-height: 80px;
    line-height: 0.8rem;
    width: 465.0px;
    width: 4.65rem;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 35px;
    font-size: 0.35rem; }

.imgbox ul li {
  position: relative;
  float: left;
  width: 110.0px;
  width: 1.1rem;
  height: 110.0px;
  height: 1.1rem;
  margin-right: 18px;
  margin-right: 0.18rem;
  margin-bottom: 18px;
  margin-bottom: 0.18rem;
  border: 1px solid rgba(255, 255, 255, 0); }
  .imgbox ul li img {
    width: 110.0px;
    width: 1.1rem;
    height: 110.0px;
    height: 1.1rem; }
  .imgbox ul li:last-child {
    margin: 0; }
  .imgbox ul li .bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.2); }
  .imgbox ul li span {
    display: block;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center; }
  .imgbox ul li .del {
    position: absolute;
    width: 32px;
    width: 0.32rem;
    height: 32px;
    height: 0.32rem;
    top: -15px;
    top: -0.15rem;
    right: -15px;
    right: -0.15rem;
    background-color: #e0483d;
    color: #fff;
    text-align: center;
    border-radius: 50%; }
    .imgbox ul li .del:before {
      font-size: 15px;
      font-size: 0.15rem;
      line-height: 32px;
      line-height: 0.32rem; }
.imgbox ul .add-img {
  position: relative;
  border: 1px dashed #bababa;
  font-size: 14.0px;
  font-size: 0.14rem;
  line-height: 1;
  text-align: center; }
  .imgbox ul .add-img .icon-pictrue {
    text-align: center;
    font-size: 30px;
    font-size: 0.3rem;
    display: block;
    width: 100%;
    padding-top: 14.0px;
    padding-top: 0.14rem; }
    .imgbox ul .add-img .icon-pictrue:before {
      width: 100%;
      text-align: center; }
  .imgbox ul .add-img b {
    display: block;
    color: #22c064;
    line-height: 28.0px;
    line-height: 0.28rem;
    font-size: 15px;
    font-size: 0.15rem;
    text-align: center; }
  .imgbox ul .add-img input {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0); }

.wap {
  display: none; }

.pc {
  display: block; }

@media screen and (max-width: 1023px) {
  .wap {
    display: block; }

  .pc {
    display: none; }

  .form-wrap {
    padding: 0; }
    .form-wrap .xy-check {
      text-align: left;
      margin-top: 0.25rem;
      margin-bottom: 0.5rem; }
    .form-wrap .obj-intro {
      border-top: .2rem solid #f0f0f0; }
    .form-wrap .input-title {
      border: none;
      padding: 0 .5rem;
      font-size: .28rem; }
      .form-wrap .input-title input {
        border-bottom: 1px solid #d8d8d8;
        font-size: .3rem; }
    .form-wrap .xy-check {
      padding: 0 .3rem; }
    .form-wrap .editor-box {
      padding: 0 .5rem; }
      .form-wrap .editor-box textarea {
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: .28rem; }
    .form-wrap .txt-con {
      height: 1.7rem; }
    .form-wrap .imgbox {
      padding: 0 0.54rem; }
    .form-wrap .btn {
      display: block;
      margin: 0 .3rem 1rem;
      width: auto; }

  .xy-layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1010;
    -webkit-transform: translate3D(100%, 0, 0);
    transform: translate3D(100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    transition: transform 0.3s ease; }
    .xy-layer.show {
      -webkit-transform: translate3D(0, 0, 0);
      transform: translate3D(0, 0, 0);
      -webkit-transition: -webkit-transform 0.3s ease;
      transition: -webkit-transform 0.3s ease;
      -webkit-transition: transform 0.3s ease;
      transition: transform 0.3s ease; }
    .xy-layer .header {
      position: relative;
      line-height: .86rem;
      background-color: #fafafa;
      border-bottom: 1px solid #efefef;
      color: #2d2d2d;
      text-align: center;
      font-size: .28rem; }
      .xy-layer .header .icon-left-normal {
        position: absolute;
        line-height: .86rem;
        left: .7rem;
        top: 0; }
        .xy-layer .header .icon-left-normal:before {
          font-size: .18rem; }
    .xy-layer .container {
      font-size: .16rem;
      padding: .5rem .5rem 0; }
    .xy-layer .btn-primary {
      display: block;
      margin: .2rem  .25rem;
      padding: 0;
      line-height: 1rem;
      font-size: .3rem;
      border-radius: 5px;
      color: #fff;
      -webkit-border-radius: 5px;
      border-radius: 5px; } }

/*# sourceMappingURL=build-obj.css.map */
