@charset "UTF-8";
.top-bar .logo, .btn, .formbtn, .container .obj-t .filter b, .container .area-obj ul li .intro span:before {
  display: inline-block; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

.container .hdzq ul li .hd-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.icon-rmb:before, .icon-user:before, .icon-up:before, .icon-down:before, .icon-fa-usr:before, .icon-msg:before, .icon-home:before, .icon-share:before, .icon-down-row:before, .icon-up-row:before, .icon-close:before, .icon-qqzone:before, .icon-weibo:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 0. sassCore's style
 */
.top-bar .logo, .btn, .formbtn, .container .obj-t .filter b, .container .area-obj ul li .intro span:before {
  display: inline-block; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

.container .hdzq ul li .hd-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.icon-rmb:before, .icon-user:before, .icon-up:before, .icon-down:before, .icon-fa-usr:before, .icon-msg:before, .icon-home:before, .icon-share:before, .icon-down-row:before, .icon-up-row:before, .icon-close:before, .icon-qqzone:before, .icon-weibo:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-y: scroll;
  /* 0 */
  -webkit-overflow-scrolling: touch;
  /* 0 */
  font-size: 100px;
  /* 0 */ }

/**
 * 1. Remove default margin
 * 0. sassCore's style.
 */
body {
  margin: 0;
  /* 1 */
  font-size: 12px;
  font-size: 0.12rem;
  line-height: 1.5;
  /* 0 */
  color: #222;
  /* 0 */
  background-color: #fff;
  /* 0 */ }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 * 3. Correct `inline-block` display in IE 6/7.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 * 0. sassCore's style.
 */
a {
  background: transparent;
  /* 1 */
  /* 0 */
  text-decoration: none;
  color: #000; }
  a:active, a:hover {
    outline: 0;
    /* 2 */ }
  a:hover {
    color: #00a0ff;
    text-decoration: underline; }

i {
  font-style: normal; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improve image quality when scaled in IE 7.
 * 0. sassCore's style.
 */
img {
  border: 0;
  /* 1 */
  vertical-align: middle;
  /* 0 */ }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * 1. Contain overflow in all browsers.
 * 2. Improve readability of pre-formatted text in all browsers.
 */
pre {
  overflow: auto;
  /* 1 */
  white-space: pre;
  /* 2 */
  white-space: pre-wrap;
  /* 2 */
  word-wrap: break-word;
  /* 2 */ }

/**
 * 1. Address odd `em`-unit font size rendering in all browsers.
 * 2. Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  background: none;
  border: none;
  outline: none; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
  border: none;
  outline: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  border: none;
  background: none;
  outline: none; }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 0. sassCore's style
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: none;
  /* 0 */ }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
html,
button,
input,
select,
textarea {
  font-family: "PingFangSC-Light", "Microsoft Yahei"; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none outside none; }

h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
  font-family: "PingFangSC-Regular", "Microsoft Yahei"; }

h1 {
  font-size: 150px; }

h2 {
  font-size: 130px; }

h3 {
  font-size: 117px; }

h4 {
  font-size: 100px; }

h5, h6 {
  font-size: 85px;
  text-transform: uppercase; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #a2a2a2; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #a2a2a2; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #a2a2a2; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #a2a2a2; }

@media screen and (min-width: 641px) {
  html {
    font-size: 100px; } }
@media screen and (max-width: 640px) {
  html {
    font-size: 100px; } }
@media screen and (max-width: 608px) {
  html {
    font-size: 95px; } }
@media screen and (max-width: 576px) {
  html {
    font-size: 90px; } }
@media screen and (max-width: 544px) {
  html {
    font-size: 85px; } }
@media screen and (max-width: 512px) {
  html {
    font-size: 80px; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 75px; } }
@media screen and (max-width: 448px) {
  html {
    font-size: 70px; } }
@media screen and (max-width: 416px) {
  html {
    font-size: 65px; } }
@media screen and (max-width: 384px) {
  html {
    font-size: 60px; } }
@media screen and (max-width: 352px) {
  html {
    font-size: 55px; } }
@media screen and (max-width: 320px) {
  html {
    font-size: 50px; } }
@font-face {
  font-family: iconfont;
  font-weight: normal;
  font-style: normal;
  src: url("http://at.alicdn.com/t/font_1448378856_337002.eot");
  src: url("http://at.alicdn.com/t/font_1448378856_337002.eot?#iefix") format("eot"), url("http://at.alicdn.com/t/font_1448378856_337002.svg#iconfont") format("svg"), url("http://at.alicdn.com/t/font_1448378856_337002.woff") format("woff"), url("http://at.alicdn.com/t/font_1448378856_337002.ttf") format("truetype"); }
.icon-rmb, .icon-user, .icon-up, .icon-down, .icon-fa-usr, .icon-msg, .icon-home, .icon-share, .icon-down-row, .icon-up-row, .icon-close, .icon-qqzone, .icon-weibo {
  display: inline-block;
  font-family: iconfont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-rmb:before {
  content: ""; }

.icon-user:before {
  content: ""; }

.top-bar {
  position: relative;
  z-index: 1000;
  background-color: #fff;
  height: 55.0px;
  height: 0.55rem;
  line-height: 55.0px;
  line-height: 0.55rem;
  border: 1px solid #f1f1f1;
  font-size: 17px;
  font-size: 0.17rem;
  padding-left: 40px;
  padding-left: 0.4rem;
  padding-right: 50px;
  padding-right: 0.5rem; }
  .top-bar .logo {
    width: 58.0px;
    width: 0.58rem;
    padding-right: 50px;
    padding-right: 0.5rem;
    vertical-align: middle; }
    .top-bar .logo a {
      display: block; }
    .top-bar .logo img {
      display: block;
      width: 100%; }
  .top-bar .build-obj {
    vertical-align: middle; }
  .top-bar .login {
    border-right: 1px solid #bcbcbc;
    margin-right: 20px;
    margin-right: 0.2rem;
    padding-right: 20px;
    padding-right: 0.2rem; }
  .top-bar .icon-user {
    position: absolute;
    display: block;
    background: url(../images/user.jpg) no-repeat center top;
    width: 20px;
    height: 30px;
    right: 50px;
    top: 50%;
    margin-top: -10px; }
    .top-bar .icon-user:before {
      display: none; }
    .top-bar .icon-user:hover {
      color: #222;
      text-decoration: none; }
    .top-bar .icon-user .exit {
      position: absolute;
      top: 35px;
      right: -13px;
      display: block;
      width: 95px;
      height: 28px;
      line-height: 28px;
      border: 1px solid #ececec;
      border-radius: 3px;
      background-color: #fff;
      text-align: center;
      display: none; }
      .top-bar .icon-user .exit i {
        position: absolute;
        top: -12px;
        right: 15px;
        display: block;
        width: 13px;
        height: 11px;
        background: url(../images/t_b.png) center top no-repeat;
        border-bottom: 1px solid #fff; }
  .top-bar .on .exit {
    display: block; }

@media screen and (max-width: 1023px) {
  .top-bar {
    height: 85px;
    height: 0.85rem;
    line-height: 85px;
    line-height: 0.85rem;
    font-size: 23px;
    font-size: 0.23rem;
    padding-left: 35px;
    padding-left: 0.35rem;
    padding-right: 40px;
    padding-right: 0.4rem;
    min-width: 0px;
    min-width: 0rem;
    background-color: #fafafa; }
    .top-bar .logo {
      width: 108px;
      width: 1.08rem; }
    .top-bar .icon-user {
      background: none;
      right: .3rem; }
      .top-bar .icon-user:before {
        display: block;
        font-size: .3rem; }
      .top-bar .icon-user .exit {
        display: none; }

  .build-obj {
    display: none; } }
body {
  min-width: 320px; }

.fl {
  float: left; }

.fr {
  float: right; }

img {
  max-width: 100%; }

.hide {
  display: none; }

::selection {
  background: rgba(0, 0, 0, 0.6);
  color: white; }

/* -------------------------------------------------
 * btn scss
 * -------------------------------------------------
*/
.btn, .formbtn {
  cursor: pointer;
  text-align: center;
  border: 0 none; }
  .btn:hover, .formbtn:hover {
    text-decoration: none; }

.btn {
  padding: 0 16px;
  font-size: 14px;
  line-height: 28px;
  color: #333;
  background-color: #e6e6e6; }
  .btn:hover {
    background-color: #d9d9d9;
    color: #333; }

.formbtn {
  padding: 0 16px;
  font-size: 14px;
  height: 28px;
  color: #333;
  background-color: #e6e6e6; }
  .formbtn:hover {
    background-color: #d9d9d9;
    color: #333; }

.btn-primary {
  color: #fff;
  background-color: #22c064; }
  .btn-primary:hover {
    background-color: #1eaa59;
    color: #fff; }

/**
 * Swiper 3.2.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2015, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: November 7, 2015
 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000; }

.swiper-container-vertical > .swiper-pagination {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate(0, -50%);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  display: block; }

.swiper-container-horizontal > .swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px; }

.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-coverflow .swiper-wrapper {
  -ms-perspective: 1200px; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube {
  overflow: visible; }

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  z-index: 1; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg); } }
@font-face {
  font-family: iconfont;
  font-weight: normal;
  font-style: normal;
  src: url("http://at.alicdn.com/t/font_1448378856_337002.eot");
  src: url("http://at.alicdn.com/t/font_1448378856_337002.eot?#iefix") format("eot"), url("http://at.alicdn.com/t/font_1448378856_337002.svg#iconfont") format("svg"), url("http://at.alicdn.com/t/font_1448378856_337002.woff") format("woff"), url("http://at.alicdn.com/t/font_1448378856_337002.ttf") format("truetype"); }
.icon-rmb, .icon-user, .icon-up, .icon-down, .icon-fa-usr, .icon-msg, .icon-home, .icon-share, .icon-down-row, .icon-up-row, .icon-close, .icon-qqzone, .icon-weibo {
  display: inline-block;
  font-family: iconfont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-up:before {
  content: ""; }

.icon-down:before {
  content: ""; }

.icon-fa-usr:before {
  content: false; }

.icon-rmb:before {
  content: ""; }

.icon-msg:before {
  content: ""; }

.icon-home:before {
  content: ""; }

.icon-share:before {
  content: ""; }

.icon-down-row:before {
  content: ""; }

.icon-up-row:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.wap {
  display: none; }

.kv {
  width: 910px;
  margin: 0 auto;
  height: 316px;
  padding-top: 20px; }
  .kv .swiper-container {
    height: 100%; }
    .kv .swiper-container .swiper-wrapper {
      height: 285px; }
      .kv .swiper-container .swiper-wrapper img {
        width: 100%;
        height: 100%; }
    .kv .swiper-container .swiper-pagination {
      bottom: 0;
      line-height: 10px;
      line-height: 0.1rem; }
    .kv .swiper-container .swiper-pagination-bullet {
      width: 10px;
      width: 0.1rem;
      height: 10px;
      height: 0.1rem;
      vertical-align: middle; }
    .kv .swiper-container .swiper-pagination-bullet-active {
      background-color: #22c064; }

.container {
  width: 910px;
  margin: 0 auto; }
  .container .hdzq {
    color: #222; }
    .container .hdzq ul {
      padding-top: 10px; }
      .container .hdzq ul li {
        float: left;
        margin-right: 6px;
        border: 1px solid #f1f1f1;
        width: 450px;
        line-height: 40px;
        line-height: 0.4rem;
        font-size: 18px; }
        .container .hdzq ul li img {
          height: 142px;
          height: 1.42rem;
          width: 100%; }
        .container .hdzq ul li .hd-name {
          padding-left: 15px;
          padding-left: 0.15rem;
          padding-right: 15px;
          padding-right: 0.15rem;
          display: block; }
        .container .hdzq ul li .intro {
          position: relative; }
        .container .hdzq ul li .cyrs, .container .hdzq ul li .ckze {
          padding-left: 15px;
          padding-left: 0.15rem;
          padding-right: 15px;
          padding-right: 0.15rem; }
          .container .hdzq ul li .cyrs i, .container .hdzq ul li .ckze i {
            color: #22c064;
            padding-right: 10px;
            padding-right: 0.1rem; }
        .container .hdzq ul li .ckze {
          padding-right: 0; }
          .container .hdzq ul li .ckze i {
            padding-left: 10px;
            padding-left: 0.1rem; }
        .container .hdzq ul li .btn {
          position: absolute;
          top: 50%;
          right: 10px;
          right: 0.1rem;
          vertical-align: middle;
          font-size: 12px;
          line-height: 25px;
          line-height: 0.25rem;
          margin-top: -12px;
          margin-top: -0.12rem;
          width: 60px;
          width: 0.6rem;
          padding: 0; }
  .container .obj-t {
    position: relative;
    z-index: 1000;
    line-height: 60px;
    line-height: 0.6rem;
    height: 60px;
    height: 0.6rem;
    text-align: right; }
    .container .obj-t span {
      cursor: pointer; }
    .container .obj-t .obj-class {
      position: absolute;
      left: 10px;
      left: 0.1rem; }
      .container .obj-t .obj-class b {
        margin-left: 10px;
        margin-left: 0.1rem;
        font-size: 10px;
        font-size: 0.1rem;
        vertical-align: middle; }
      .container .obj-t .obj-class .filter-list {
        position: absolute;
        top: 60px;
        border: 1px solid #f1f1f1;
        text-align: center;
        width: 218px;
        line-height: 59px;
        font-size: 18px;
        background-color: #fff;
        display: none; }
        .container .obj-t .obj-class .filter-list span {
          position: absolute;
          top: -14px;
          left: 27px;
          width: 13px;
          height: 13px;
          background: url(../images/t_b.png) no-repeat center;
          border-bottom: 1px solid #fff;
          display: block; }
        .container .obj-t .obj-class .filter-list ul li {
          margin: 0 .3rem;
          border-bottom: 1px solid #f1f1f1; }
          .container .obj-t .obj-class .filter-list ul li a {
            display: block; }
            .container .obj-t .obj-class .filter-list ul li a:hover {
              color: #22c064; }
          .container .obj-t .obj-class .filter-list ul li:last-child {
            border: none; }
    .container .obj-t .filter {
      display: inline-block;
      width: 66px;
      width: 0.66rem;
      line-height: 28.0px;
      line-height: 0.28rem;
      font-size: 14.0px;
      font-size: 0.14rem;
      text-align: center;
      border-radius: 5px;
      border: 1px solid #fff; }
      .container .obj-t .filter b:before {
        font-size: 12px;
        font-size: 0.12rem; }
    .container .obj-t .on {
      color: #22c064;
      border: 1px solid #eaeaea; }
  .container .area-obj ul {
    padding-top: 10px; }
    .container .area-obj ul li {
      width: 220px;
      border: 1px solid #f1f1f1;
      line-height: 1.85;
      font-size: 18px;
      font-size: 0.18rem;
      margin-right: 7.0px;
      margin-right: 0.07rem;
      margin-bottom: 15px;
      margin-bottom: 0.15rem;
      float: left; }
      .container .area-obj ul li a {
        color: #222; }
        .container .area-obj ul li a:hover {
          color: #00a0ff; }
      .container .area-obj ul li img {
        width: 100%;
        height: 136px;
        height: 1.36rem; }
      .container .area-obj ul li .obj-name {
        display: block;
        padding-left: 7.0px;
        padding-left: 0.07rem;
        padding-right: 7.0px;
        padding-right: 0.07rem;
        height: 64px;
        height: 0.64rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; }
      .container .area-obj ul li .intro {
        position: relative;
        margin-left: 12px;
        margin-left: 0.12rem;
        margin-right: 12px;
        margin-right: 0.12rem;
        font-size: 12px;
        font-size: 0.12rem;
        margin-right: 27px;
        margin-right: 0.27rem;
        line-height: 25px;
        line-height: 0.25rem;
        border-top: 1px solid #f1f1f1;
        text-align: center; }
        .container .area-obj ul li .intro span {
          line-height: 25px;
          line-height: 0.25rem; }
        .container .area-obj ul li .intro .rmb {
          position: absolute;
          left: 0;
          top: 0; }
        .container .area-obj ul li .intro .msg {
          position: absolute;
          right: 0;
          top: 0; }
  .container .over-hide {
    overflow: hidden; }
    .container .over-hide ul {
      width: 110%; }

.find-all {
  margin-top: 80px;
  margin-top: 0.8rem;
  margin-bottom: 80px;
  margin-bottom: 0.8rem;
  font-size: 18px;
  font-size: 0.18rem;
  color: #00a0ff;
  text-align: center;
  cursor: pointer; }

.bottom-fixed {
  display: none; }

.obj-layer {
  display: none; }

@media screen and (max-width: 1023px) {
  .pc {
    display: none; }

  .wap {
    display: block; }

  .kv {
    width: 100%;
    height: 2.2rem;
    padding-top: 0; }
    .kv .swiper-container .swiper-wrapper {
      height: 2rem;
      text-align: center; }
      .kv .swiper-container .swiper-wrapper img {
        height: 100%;
        width: 100%; }

  .container {
    width: auto;
    padding: 0 .15rem; }
    .container .area-t {
      font-size: .28rem; }
      .container .area-t .more {
        display: none; }
    .container .hdzq {
      overflow: hidden; }
      .container .hdzq .swiper-horizontal {
        width: 100%; }
      .container .hdzq ul {
        padding-top: 10px;
        width: auto; }
        .container .hdzq ul li {
          width: 5.65rem;
          margin-right: .2rem;
          font-size: .22rem;
          box-sizing: border-box; }
          .container .hdzq ul li a {
            display: block; }
          .container .hdzq ul li img {
            display: block;
            width: 100%; }
          .container .hdzq ul li .intro {
            font-size: .17rem; }
            .container .hdzq ul li .intro i {
              font-size: .14rem; }
          .container .hdzq ul li .btn {
            font-size: .17rem; }
    .container .obj-t .filter-list {
      display: none !important; }
    .container .obj-t .filter {
      width: 88px;
      width: 0.88rem;
      line-height: 38px;
      line-height: 0.38rem;
      font-size: 20px;
      font-size: 0.2rem;
      text-align: center;
      border-radius: 5px; }
      .container .obj-t .filter b:before {
        font-size: .12rem; }
    .container .area-obj ul {
      width: 100%;
      padding-top: .05rem; }
      .container .area-obj ul li {
        width: 48%;
        margin-bottom: .2rem; }
        .container .area-obj ul li:nth-child(n) {
          float: left; }
        .container .area-obj ul li:nth-child(2n) {
          float: right;
          margin-right: 0; }
        .container .area-obj ul li img {
          height: 2.28rem; }
        .container .area-obj ul li .obj-name {
          font-size: .22rem;
          height: .72rem;
          line-height: .35rem;
          overflow: hidden; }
        .container .area-obj ul li .intro {
          font-size: .15rem; }
          .container .area-obj ul li .intro span {
            line-height: .35rem; }

  .find-all {
    width: 1.95rem;
    line-height: .5rem;
    border: 1px solid #00a0ff;
    border-radius: 5px;
    margin: .2rem auto 2rem;
    font-size: .24rem; }

  .obj-layer {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1010;
    bottom: 1.2rem;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    height: 2.15rem;
    padding-top: .47rem;
    background-color: #fff;
    -webkit-transform: translate3D(0, 200%, 0);
    transform: translate3D(0, 200%, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    transition: transform 0.3s ease; }
    .obj-layer ul {
      padding: 0 .9rem;
      text-align: center; }
    .obj-layer li {
      line-height: .65rem;
      margin-bottom: .3rem;
      width: 40%;
      font-size: .22rem;
      border: 1px solid #22c064;
      border-radius: 5px;
      cursor: pointer; }
      .obj-layer li:nth-child(n) {
        float: left; }
      .obj-layer li:nth-child(2n) {
        float: right; }
    .obj-layer.show {
      -webkit-transform: translate3D(0, 0, 0);
      transform: translate3D(0, 0, 0);
      -webkit-transition: -webkit-transform 0.3s ease;
      transition: -webkit-transform 0.3s ease;
      -webkit-transition: transform 0.3s ease;
      transition: transform 0.3s ease; } }
.area-t {
  position: relative;
  font-size: 22px;
  font-size: 0.22rem;
  padding-left: 10px;
  padding-left: 0.1rem;
  line-height: 60px;
  line-height: 0.6rem;
  color: #222; }
  .area-t i {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    margin-top: -16px;
    margin-top: -0.16rem;
    width: 4px;
    width: 0.04rem;
    height: 32px;
    height: 0.32rem;
    background-color: #22c064; }
  .area-t .more {
    position: absolute;
    right: 0;
    font-size: 16px;
    color: #00a0ff; }

@media screen and (max-width: 1023px) {
  .area-t {
    font-size: 30px;
    font-size: 0.3rem; } }
@font-face {
  font-family: iconfont;
  font-weight: normal;
  font-style: normal;
  src: url("http://at.alicdn.com/t/font_1448378856_337002.eot");
  src: url("http://at.alicdn.com/t/font_1448378856_337002.eot?#iefix") format("eot"), url("http://at.alicdn.com/t/font_1448378856_337002.svg#iconfont") format("svg"), url("http://at.alicdn.com/t/font_1448378856_337002.woff") format("woff"), url("http://at.alicdn.com/t/font_1448378856_337002.ttf") format("truetype"); }
.icon-rmb, .icon-user, .icon-up, .icon-down, .icon-fa-usr, .icon-msg, .icon-home, .icon-share, .icon-down-row, .icon-up-row, .icon-close, .icon-qqzone, .icon-weibo {
  display: inline-block;
  font-family: iconfont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-qqzone:before {
  content: ""; }

.icon-weibo:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.share-layer {
  display: none; }

.zhezhao {
  display: none; }

.bottom-fixed {
  display: none; }

@media screen and (max-width: 1023px) {
  .bottom-fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 320px;
    z-index: 1010;
    padding: .2rem 0;
    background-color: #fafafa;
    display: block; }
    .bottom-fixed .btn-primary {
      display: block;
      margin: 0  1.35rem;
      padding: 0;
      width: 3.7rem;
      margin: 0 auto;
      line-height: .8rem;
      font-size: .32rem;
      border-radius: 5px;
      color: #fff;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
    .bottom-fixed .btn-yellow {
      display: block;
      margin: 0  1.35rem;
      padding: 0;
      width: 3.7rem;
      margin: 0 auto;
      line-height: .8rem;
      font-size: .32rem;
      border-radius: 5px;
      color: #fff;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-color: #f7941d; }
    .bottom-fixed .btn-black {
      display: block;
      margin: 0  1.35rem;
      padding: 0;
      width: 3.7rem;
      margin: 0 auto;
      line-height: .8rem;
      font-size: .32rem;
      border-radius: 5px;
      color: #fff;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-color: #222; }
    .bottom-fixed .btn-green {
      display: block;
      margin: 0  1.35rem;
      padding: 0;
      width: 3.7rem;
      margin: 0 auto;
      line-height: .8rem;
      font-size: .32rem;
      border-radius: 5px;
      color: #fff;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-color: #87ab66; }
    .bottom-fixed .btn-gray {
      display: block;
      margin: 0  1.35rem;
      padding: 0;
      width: 3.7rem;
      margin: 0 auto;
      line-height: .8rem;
      font-size: .32rem;
      border-radius: 5px;
      color: #fff;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-color: #888; }
    .bottom-fixed .end-tip {
      padding-top: .2rem;
      text-align: center;
      color: #4b4b4b;
      font-size: .18rem; }
    .bottom-fixed span {
      font-size: .3rem;
      line-height: .8rem;
      cursor: pointer; }
    .bottom-fixed .icon-home {
      margin-left: .55rem; }
    .bottom-fixed .icon-share {
      margin-right: .55rem; }

  .zhezhao {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8); }

  .share-layer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    display: block;
    height: 1.4rem;
    padding-top: .85rem;
    text-align: center;
    font-size: .17rem;
    background-color: #fff;
    -webkit-transform: translate3D(0, 100%, 0);
    transform: translate3D(0, 100%, 0);
    -webkit-transform: translate3D(0, 100%, 0);
    transform: translate3D(0, 100%, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    transition: transform 0.3s ease; }
    .share-layer span {
      display: inline-block;
      padding: 0 .5rem;
      cursor: pointer; }
    .share-layer i {
      font-size: .6rem;
      display: block;
      margin-bottom: .25rem; }
    .share-layer .icon-weibo {
      color: #e0483d; }
    .share-layer .icon-qqzone {
      color: #ebbf38; }
    .share-layer.show {
      -webkit-transform: translate3D(0, 0, 0);
      transform: translate3D(0, 0, 0);
      -webkit-transition: -webkit-transform 0.3s ease;
      transition: -webkit-transform 0.3s ease;
      -webkit-transition: transform 0.3s ease;
      transition: transform 0.3s ease; }

  .icon-close {
    position: absolute;
    right: .2rem;
    top: .2rem;
    width: .3rem;
    font-size: .15rem; } }

/*# sourceMappingURL=index.css.map */
