@charset "UTF-8";
.top-bar .logo, .btn, .formbtn, .area-one .mobile-detail li, .share-area a, .content .obj-t .filter b, .content .area-obj ul li .intro span:before {
  display: inline-block; }

.container {
  margin-left: auto;
  margin-right: auto; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

.icon-rmb:before, .icon-user:before, .icon-max:before, .icon-mini:before, .icon-home:before, .icon-share:before, .icon-up-row:before, .icon-arrow-right:before, .icon-up:before, .icon-down:before, .icon-tieba:before, .icon-weixin:before, .icon-zan-before:before, .icon-zan-after:before, .icon-smile:before, .icon-flag:before, .icon-qqzone:before, .icon-weibo:before, .icon-voice:before, .icon-right-normal:before, .content h2:after, .icon-msg:before, .icon-close:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 0. sassCore's style
 */
.top-bar .logo, .btn, .formbtn, .area-one .mobile-detail li, .share-area a, .content .obj-t .filter b, .content .area-obj ul li .intro span:before {
  display: inline-block; }

.container {
  margin-left: auto;
  margin-right: auto; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

.icon-rmb:before, .icon-user:before, .icon-max:before, .icon-mini:before, .icon-home:before, .icon-share:before, .icon-up-row:before, .icon-arrow-right:before, .icon-up:before, .icon-down:before, .icon-tieba:before, .icon-weixin:before, .icon-zan-before:before, .icon-zan-after:before, .icon-smile:before, .icon-flag:before, .icon-qqzone:before, .icon-weibo:before, .icon-voice:before, .icon-right-normal:before, .content h2:after, .icon-msg:before, .icon-close:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-y: scroll;
  /* 0 */
  -webkit-overflow-scrolling: touch;
  /* 0 */
  font-size: 100px;
  /* 0 */ }

/**
 * 1. Remove default margin
 * 0. sassCore's style.
 */
body {
  margin: 0;
  /* 1 */
  font-size: 12px;
  font-size: 0.12rem;
  line-height: 1.5;
  /* 0 */
  color: #222;
  /* 0 */
  background-color: #fff;
  /* 0 */ }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 * 3. Correct `inline-block` display in IE 6/7.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 * 0. sassCore's style.
 */
a {
  background: transparent;
  /* 1 */
  /* 0 */
  text-decoration: none;
  color: #000; }
  a:active, a:hover {
    outline: 0;
    /* 2 */ }
  a:hover {
    color: #00a0ff;
    text-decoration: underline; }

i {
  font-style: normal; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improve image quality when scaled in IE 7.
 * 0. sassCore's style.
 */
img {
  border: 0;
  /* 1 */
  vertical-align: middle;
  /* 0 */ }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * 1. Contain overflow in all browsers.
 * 2. Improve readability of pre-formatted text in all browsers.
 */
pre {
  overflow: auto;
  /* 1 */
  white-space: pre;
  /* 2 */
  white-space: pre-wrap;
  /* 2 */
  word-wrap: break-word;
  /* 2 */ }

/**
 * 1. Address odd `em`-unit font size rendering in all browsers.
 * 2. Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  background: none;
  border: none;
  outline: none; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
  border: none;
  outline: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  border: none;
  background: none;
  outline: none; }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 0. sassCore's style
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: none;
  /* 0 */ }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
html,
button,
input,
select,
textarea {
  font-family: "PingFangSC-Light", "Microsoft Yahei"; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none outside none; }

h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
  font-family: "PingFangSC-Regular", "Microsoft Yahei"; }

h1 {
  font-size: 150px; }

h2 {
  font-size: 130px; }

h3 {
  font-size: 117px; }

h4 {
  font-size: 100px; }

h5, h6 {
  font-size: 85px;
  text-transform: uppercase; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #a2a2a2; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #a2a2a2; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #a2a2a2; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #a2a2a2; }

@media screen and (min-width: 641px) {
  html {
    font-size: 100px; } }
@media screen and (max-width: 640px) {
  html {
    font-size: 100px; } }
@media screen and (max-width: 608px) {
  html {
    font-size: 95px; } }
@media screen and (max-width: 576px) {
  html {
    font-size: 90px; } }
@media screen and (max-width: 544px) {
  html {
    font-size: 85px; } }
@media screen and (max-width: 512px) {
  html {
    font-size: 80px; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 75px; } }
@media screen and (max-width: 448px) {
  html {
    font-size: 70px; } }
@media screen and (max-width: 416px) {
  html {
    font-size: 65px; } }
@media screen and (max-width: 384px) {
  html {
    font-size: 60px; } }
@media screen and (max-width: 352px) {
  html {
    font-size: 55px; } }
@media screen and (max-width: 320px) {
  html {
    font-size: 50px; } }
@font-face {
  font-family: iconfont;
  font-weight: normal;
  font-style: normal;
  src: url("http://at.alicdn.com/t/font_1448378856_337002.eot");
  src: url("http://at.alicdn.com/t/font_1448378856_337002.eot?#iefix") format("eot"), url("http://at.alicdn.com/t/font_1448378856_337002.svg#iconfont") format("svg"), url("http://at.alicdn.com/t/font_1448378856_337002.woff") format("woff"), url("http://at.alicdn.com/t/font_1448378856_337002.ttf") format("truetype"); }
.icon-rmb, .icon-user, .icon-max, .icon-mini, .icon-home, .icon-share, .icon-up-row, .icon-arrow-right, .icon-up, .icon-down, .icon-tieba, .icon-weixin, .icon-zan-before, .icon-zan-after, .icon-smile, .icon-flag, .icon-qqzone, .icon-weibo, .icon-voice, .icon-right-normal, .icon-msg, .icon-close {
  display: inline-block;
  font-family: iconfont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-rmb:before {
  content: ""; }

.icon-user:before {
  content: ""; }

.top-bar {
  position: relative;
  z-index: 1000;
  background-color: #fff;
  height: 55.0px;
  height: 0.55rem;
  line-height: 55.0px;
  line-height: 0.55rem;
  border: 1px solid #f1f1f1;
  font-size: 17px;
  font-size: 0.17rem;
  padding-left: 40px;
  padding-left: 0.4rem;
  padding-right: 50px;
  padding-right: 0.5rem; }
  .top-bar .logo {
    width: 58.0px;
    width: 0.58rem;
    padding-right: 50px;
    padding-right: 0.5rem;
    vertical-align: middle; }
    .top-bar .logo a {
      display: block; }
    .top-bar .logo img {
      display: block;
      width: 100%; }
  .top-bar .build-obj {
    vertical-align: middle; }
  .top-bar .login {
    border-right: 1px solid #bcbcbc;
    margin-right: 20px;
    margin-right: 0.2rem;
    padding-right: 20px;
    padding-right: 0.2rem; }
  .top-bar .icon-user {
    position: absolute;
    display: block;
    background: url(../images/user.jpg) no-repeat center top;
    width: 20px;
    height: 30px;
    right: 50px;
    top: 50%;
    margin-top: -10px; }
    .top-bar .icon-user:before {
      display: none; }
    .top-bar .icon-user:hover {
      color: #222;
      text-decoration: none; }
    .top-bar .icon-user .exit {
      position: absolute;
      top: 35px;
      right: -13px;
      display: block;
      width: 95px;
      height: 28px;
      line-height: 28px;
      border: 1px solid #ececec;
      border-radius: 3px;
      background-color: #fff;
      text-align: center;
      display: none; }
      .top-bar .icon-user .exit i {
        position: absolute;
        top: -12px;
        right: 15px;
        display: block;
        width: 13px;
        height: 11px;
        background: url(../images/t_b.png) center top no-repeat;
        border-bottom: 1px solid #fff; }
  .top-bar .on .exit {
    display: block; }

@media screen and (max-width: 1023px) {
  .top-bar {
    height: 85px;
    height: 0.85rem;
    line-height: 85px;
    line-height: 0.85rem;
    font-size: 23px;
    font-size: 0.23rem;
    padding-left: 35px;
    padding-left: 0.35rem;
    padding-right: 40px;
    padding-right: 0.4rem;
    min-width: 0px;
    min-width: 0rem;
    background-color: #fafafa; }
    .top-bar .logo {
      width: 108px;
      width: 1.08rem; }
    .top-bar .icon-user {
      background: none;
      right: .3rem; }
      .top-bar .icon-user:before {
        display: block;
        font-size: .3rem; }
      .top-bar .icon-user .exit {
        display: none; }

  .build-obj {
    display: none; } }
body {
  min-width: 320px; }

.fl {
  float: left; }

.fr {
  float: right; }

img {
  max-width: 100%; }

.hide {
  display: none; }

::selection {
  background: rgba(0, 0, 0, 0.6);
  color: white; }

/* -------------------------------------------------
 * btn scss
 * -------------------------------------------------
*/
.btn, .formbtn {
  cursor: pointer;
  text-align: center;
  border: 0 none; }
  .btn:hover, .formbtn:hover {
    text-decoration: none; }

.btn {
  padding: 0 16px;
  font-size: 14px;
  line-height: 28px;
  color: #333;
  background-color: #e6e6e6; }
  .btn:hover {
    background-color: #d9d9d9;
    color: #333; }

.formbtn {
  padding: 0 16px;
  font-size: 14px;
  height: 28px;
  color: #333;
  background-color: #e6e6e6; }
  .formbtn:hover {
    background-color: #d9d9d9;
    color: #333; }

.btn-primary {
  color: #fff;
  background-color: #22c064; }
  .btn-primary:hover {
    background-color: #1eaa59;
    color: #fff; }

@font-face {
  font-family: iconfont;
  font-weight: normal;
  font-style: normal;
  src: url("http://at.alicdn.com/t/font_1448378856_337002.eot");
  src: url("http://at.alicdn.com/t/font_1448378856_337002.eot?#iefix") format("eot"), url("http://at.alicdn.com/t/font_1448378856_337002.svg#iconfont") format("svg"), url("http://at.alicdn.com/t/font_1448378856_337002.woff") format("woff"), url("http://at.alicdn.com/t/font_1448378856_337002.ttf") format("truetype"); }
.icon-rmb, .icon-user, .icon-max, .icon-mini, .icon-home, .icon-share, .icon-up-row, .icon-arrow-right, .icon-up, .icon-down, .icon-tieba, .icon-weixin, .icon-zan-before, .icon-zan-after, .icon-smile, .icon-flag, .icon-qqzone, .icon-weibo, .icon-voice, .icon-right-normal, .icon-msg, .icon-close {
  display: inline-block;
  font-family: iconfont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-max:before {
  content: ""; }

.icon-mini:before {
  content: ""; }

.icon-home:before {
  content: ""; }

.icon-share:before {
  content: ""; }

.icon-up-row:before {
  content: ""; }

.icon-arrow-right:before {
  content: ""; }

.icon-up:before {
  content: ""; }

.icon-down:before {
  content: ""; }

.icon-tieba:before {
  content: ""; }

.icon-weixin:before {
  content: ""; }

.icon-share:before {
  content: ""; }

.icon-zan-before:before {
  content: ""; }

.icon-zan-after:before {
  content: ""; }

.icon-smile:before {
  content: ""; }

.icon-flag:before {
  content: ""; }

.icon-qqzone:before {
  content: ""; }

.icon-weibo:before {
  content: ""; }

.icon-voice:before {
  content: ""; }

.icon-right-normal:before, .content h2:after {
  content: ""; }

.icon-rmb:before {
  content: ""; }

.icon-msg:before {
  content: ""; }

.container {
  max-width: 1024px; }

.title {
  font-size: 22px;
  padding-top: 45px;
  padding-top: 0.45rem; }
  .title i {
    color: #22c064; }

.top-notice {
  font-size: 24px;
  font-size: 0.24rem;
  line-height: 65px;
  line-height: 0.65rem;
  padding-left: 20px;
  padding-left: 0.2rem;
  padding-right: 20px;
  padding-right: 0.2rem;
  color: #00a0ff;
  display: none; }
  .top-notice span {
    color: #686868; }
  .top-notice a {
    color: #00a0ff; }
  .top-notice .pm {
    margin-left: 10px;
    margin-left: 0.1rem; }

.area {
  padding-left: 40px;
  padding-left: 0.4rem;
  padding-right: 40px;
  padding-right: 0.4rem; }

.pic-w {
  position: relative;
  width: 450px; }
  .pic-w i {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    background-color: #fff;
    cursor: pointer;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center; }
    .pic-w i:before {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 40px;
      text-align: center;
      font-size: 20px; }

.area-one .pic-w img {
  width: 100%; }
.area-one .intro {
  margin-left: 40px;
  margin-left: 0.4rem;
  font-size: 20px;
  font-size: 0.2rem; }
  .area-one .intro .photo {
    display: block;
    width: 100px;
    width: 1rem;
    color: #000; }
    .area-one .intro .photo a {
      display: block;
      width: 100px;
      width: 1rem;
      text-align: center; }
    .area-one .intro .photo img {
      display: block;
      width: 100%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      border: 2px solid #fff; }
  .area-one .intro li {
    font-size: 12px;
    font-size: 0.12rem;
    margin-bottom: 20px;
    margin-bottom: 0.2rem; }
  .area-one .intro b {
    display: block;
    font-size: 20px;
    font-size: 0.2rem; }
.area-one .mobile-detail {
  display: none; }

.btn-primary {
  width: 160px;
  width: 1.6rem;
  line-height: 40px;
  line-height: 0.4rem;
  font-size: 20px;
  font-size: 0.2rem;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0; }

.share-area {
  margin-top: 45px;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 30px;
  text-align: center; }
  .share-area a {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 18px;
    font-size: 30px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    background-color: #fff; }
    .share-area a:hover {
      text-decoration: none; }
    .share-area a:before {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 30px; }
    .share-area a.icon-weibo {
      color: #e0483d; }
    .share-area a.icon-weixin {
      color: #00d154; }
    .share-area a.icon-qqzone {
      color: #ebbf38; }
    .share-area a.icon-tieba {
      background-color: #1a94e8;
      color: #fff;
      font-size: 18px;
      font-size: 0.18rem; }
    .share-area a.icon-share {
      background-color: #555;
      color: #fff;
      font-size: 16px;
      font-size: 0.16rem; }

.content {
  width: 450px; }
  .content h2 {
    position: relative;
    line-height: 50px;
    font-size: 14px;
    width: 100%;
    background-color: #fafafa; }
    .content h2:before {
      margin-left: 18px;
      margin-right: 10px;
      color: #22c064; }
    .content h2:after {
      position: absolute;
      top: 0;
      right: 15px;
      color: #ccc;
      line-height: 50px; }
  .content .obj-t {
    position: relative;
    z-index: 1000;
    line-height: 50px;
    line-height: 0.5rem;
    text-align: right; }
    .content .obj-t span {
      cursor: pointer; }
    .content .obj-t .obj-class {
      position: absolute;
      left: 10px;
      left: 0.1rem; }
      .content .obj-t .obj-class b {
        margin-left: 10px;
        margin-left: 0.1rem;
        font-size: 10px;
        font-size: 0.1rem;
        vertical-align: middle; }
      .content .obj-t .obj-class .filter-list {
        position: absolute;
        top: 60px;
        border: 1px solid #f1f1f1;
        text-align: center;
        width: 218px;
        line-height: 59px;
        font-size: 18px;
        background-color: #fff; }
        .content .obj-t .obj-class .filter-list span {
          position: absolute;
          top: -14px;
          left: 27px;
          width: 13px;
          height: 13px;
          background: url(../images/t_b.png) no-repeat center;
          border-bottom: 1px solid #fff;
          display: block; }
    .content .obj-t .filter {
      display: inline-block;
      width: 66px;
      width: 0.66rem;
      line-height: 28.0px;
      line-height: 0.28rem;
      font-size: 14.0px;
      font-size: 0.14rem;
      text-align: center;
      border-radius: 5px;
      border: 1px solid #fff; }
      .content .obj-t .filter b:before {
        font-size: 12px;
        font-size: 0.12rem; }
    .content .obj-t .on {
      color: #22c064;
      border: 1px solid #eaeaea; }
  .content .area-obj ul li {
    width: 220px;
    border: 1px solid #f1f1f1;
    line-height: 1.85;
    font-size: 18px;
    font-size: 0.18rem;
    margin-right: 7.0px;
    margin-right: 0.07rem;
    margin-bottom: 15px;
    margin-bottom: 0.15rem;
    float: left; }
    .content .area-obj ul li a {
      color: #222; }
      .content .area-obj ul li a:hover {
        color: #00a0ff; }
    .content .area-obj ul li img {
      width: 100%;
      height: 136px;
      height: 1.36rem; }
    .content .area-obj ul li .obj-name {
      display: block;
      padding-left: 7.0px;
      padding-left: 0.07rem;
      padding-right: 7.0px;
      padding-right: 0.07rem;
      height: 70px;
      height: 0.7rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    .content .area-obj ul li .intro {
      position: relative;
      margin-left: 12px;
      margin-left: 0.12rem;
      margin-right: 12px;
      margin-right: 0.12rem;
      font-size: 12px;
      font-size: 0.12rem;
      margin-right: 27px;
      margin-right: 0.27rem;
      line-height: 25px;
      line-height: 0.25rem;
      border-top: 1px solid #f1f1f1;
      text-align: center; }
      .content .area-obj ul li .intro span {
        line-height: 25px;
        line-height: 0.25rem; }
      .content .area-obj ul li .intro .rmb {
        position: absolute;
        left: 0;
        top: 0; }
      .content .area-obj ul li .intro .msg {
        position: absolute;
        right: 0;
        top: 0; }
  .content .over-hide {
    overflow: hidden; }
    .content .over-hide ul {
      width: 110%; }
  .content .find-all {
    margin-top: 25px;
    margin-top: 0.25rem;
    margin-bottom: 80px;
    margin-bottom: 0.8rem;
    font-size: 18px;
    font-size: 0.18rem;
    color: #00a0ff;
    text-align: center;
    cursor: pointer; }

.re-top {
  position: fixed;
  left: 50%;
  margin-left: 210px;
  bottom: 20px;
  display: block;
  height: 38px;
  width: 38px;
  font-size: 12px;
  color: #555;
  background-color: #fafafa;
  border: 1px solid #f1f1f1;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .re-top:before {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 38px; }
  .re-top:hover {
    color: #555;
    text-decoration: none; }

.bottom-fixed {
  display: none; }

.wap {
  display: none; }

.pc {
  display: block; }

@media screen and (max-width: 1023px) {
  .wap {
    display: block; }

  .pc {
    display: none; }

  .container h1 {
    display: none; }
  .container .area-one {
    padding: 0; }
    .container .area-one .pic-w {
      width: 100%; }
      .container .area-one .pic-w img {
        width: 100%;
        height: 2rem; }
    .container .area-one .share-area {
      display: none; }
  .container .intro-wap {
    padding: 0 .2rem; }
    .container .intro-wap ul li {
      float: left;
      width: 33.4%;
      border-right: 1px solid #eee;
      text-align: center;
      box-sizing: border-box; }
      .container .intro-wap ul li p {
        width: 100%;
        height: 1.08rem;
        border-bottom: 0.03rem solid #22c064;
        font-size: .18rem; }
        .container .intro-wap ul li p span {
          display: block;
          font-size: .2rem;
          padding-top: .2rem; }
      .container .intro-wap ul li:first-child {
        width: 33.3%; }
      .container .intro-wap ul li:last-child {
        width: 33.3%;
        border: none; }
  .container .content {
    width: auto;
    padding: 0 .2rem; }
    .container .content h2 {
      background: none; }
    .container .content .obj-t .filter-list {
      display: none !important; }
    .container .content .obj-t .filter {
      width: 88px;
      width: 0.88rem;
      line-height: 38px;
      line-height: 0.38rem;
      font-size: 20px;
      font-size: 0.2rem;
      text-align: center;
      border-radius: 5px;
      border: 1px solid #fff; }
      .container .content .obj-t .filter b:before {
        font-size: .12rem; }
    .container .content .obj-t .on {
      color: #22c064;
      border: 1px solid #eaeaea; }
    .container .content .area-obj ul {
      width: 100%;
      padding-top: .05rem; }
      .container .content .area-obj ul li {
        width: 48%;
        margin-bottom: .2rem; }
        .container .content .area-obj ul li:nth-child(n) {
          float: left; }
        .container .content .area-obj ul li:nth-child(2n) {
          float: right;
          margin-right: 0; }
        .container .content .area-obj ul li img {
          height: auto; }
        .container .content .area-obj ul li .obj-name {
          font-size: .22rem;
          height: .72rem;
          line-height: .35rem;
          overflow: hidden; }
        .container .content .area-obj ul li .intro {
          font-size: .15rem; }
          .container .content .area-obj ul li .intro span {
            line-height: .35rem; } }
@font-face {
  font-family: iconfont;
  font-weight: normal;
  font-style: normal;
  src: url("http://at.alicdn.com/t/font_1448378856_337002.eot");
  src: url("http://at.alicdn.com/t/font_1448378856_337002.eot?#iefix") format("eot"), url("http://at.alicdn.com/t/font_1448378856_337002.svg#iconfont") format("svg"), url("http://at.alicdn.com/t/font_1448378856_337002.woff") format("woff"), url("http://at.alicdn.com/t/font_1448378856_337002.ttf") format("truetype"); }
.icon-rmb, .icon-user, .icon-max, .icon-mini, .icon-home, .icon-share, .icon-up-row, .icon-arrow-right, .icon-up, .icon-down, .icon-tieba, .icon-weixin, .icon-zan-before, .icon-zan-after, .icon-smile, .icon-flag, .icon-qqzone, .icon-weibo, .icon-voice, .icon-right-normal, .icon-msg, .icon-close {
  display: inline-block;
  font-family: iconfont;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-qqzone:before {
  content: ""; }

.icon-weibo:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.share-layer {
  display: none; }

.zhezhao {
  display: none; }

.bottom-fixed {
  display: none; }

@media screen and (max-width: 1023px) {
  .bottom-fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 320px;
    z-index: 1010;
    padding: .2rem 0;
    background-color: #fafafa;
    display: block; }
    .bottom-fixed .btn-primary {
      display: block;
      margin: 0  1.35rem;
      padding: 0;
      width: 3.7rem;
      margin: 0 auto;
      line-height: .8rem;
      font-size: .32rem;
      border-radius: 5px;
      color: #fff;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
    .bottom-fixed .btn-yellow {
      display: block;
      margin: 0  1.35rem;
      padding: 0;
      width: 3.7rem;
      margin: 0 auto;
      line-height: .8rem;
      font-size: .32rem;
      border-radius: 5px;
      color: #fff;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-color: #f7941d; }
    .bottom-fixed .btn-black {
      display: block;
      margin: 0  1.35rem;
      padding: 0;
      width: 3.7rem;
      margin: 0 auto;
      line-height: .8rem;
      font-size: .32rem;
      border-radius: 5px;
      color: #fff;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-color: #222; }
    .bottom-fixed .btn-green {
      display: block;
      margin: 0  1.35rem;
      padding: 0;
      width: 3.7rem;
      margin: 0 auto;
      line-height: .8rem;
      font-size: .32rem;
      border-radius: 5px;
      color: #fff;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-color: #87ab66; }
    .bottom-fixed .btn-gray {
      display: block;
      margin: 0  1.35rem;
      padding: 0;
      width: 3.7rem;
      margin: 0 auto;
      line-height: .8rem;
      font-size: .32rem;
      border-radius: 5px;
      color: #fff;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-color: #888; }
    .bottom-fixed .end-tip {
      padding-top: .2rem;
      text-align: center;
      color: #4b4b4b;
      font-size: .18rem; }
    .bottom-fixed span {
      font-size: .3rem;
      line-height: .8rem;
      cursor: pointer; }
    .bottom-fixed .icon-home {
      margin-left: .55rem; }
    .bottom-fixed .icon-share {
      margin-right: .55rem; }

  .zhezhao {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8); }

  .share-layer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    display: block;
    height: 1.4rem;
    padding-top: .85rem;
    text-align: center;
    font-size: .17rem;
    background-color: #fff;
    -webkit-transform: translate3D(0, 100%, 0);
    transform: translate3D(0, 100%, 0);
    -webkit-transform: translate3D(0, 100%, 0);
    transform: translate3D(0, 100%, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    transition: transform 0.3s ease; }
    .share-layer span {
      display: inline-block;
      padding: 0 .5rem;
      cursor: pointer; }
    .share-layer i {
      font-size: .6rem;
      display: block;
      margin-bottom: .25rem; }
    .share-layer .icon-weibo {
      color: #e0483d; }
    .share-layer .icon-qqzone {
      color: #ebbf38; }
    .share-layer.show {
      -webkit-transform: translate3D(0, 0, 0);
      transform: translate3D(0, 0, 0);
      -webkit-transition: -webkit-transform 0.3s ease;
      transition: -webkit-transform 0.3s ease;
      -webkit-transition: transform 0.3s ease;
      transition: transform 0.3s ease; }

  .icon-close {
    position: absolute;
    right: .2rem;
    top: .2rem;
    width: .3rem;
    font-size: .15rem; } }

/*# sourceMappingURL=obj.css.map */
